<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minhkhai.demobds">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".duan.DanhSachDuAn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            c
        </activity>
        <activity android:name=".loaisp.DanhSachLoaiSP" />
        <activity android:name=".loaisp.ThemLoaiSP" />
        <activity android:name=".loaisp.CapNhatLoaiSP" />
        <activity android:name=".duan.ThemDuAn" />
        <activity android:name=".duan.CapNhatDuAn" />
        <!--
        <activity android:name=".hotro.menu.NavigationDrawer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".loaikhachhang.DanhSachLoaiKhachHang">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".loaikhachhang.ThemLoaiKhachHang" />
        <activity android:name=".loaikhachhang.ChiTietLoaiKhachHang" />
        <activity android:name=".dangnhap.DangNhap">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".khachhang.DanhSachKhachHang">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".khachhang.ThemKhachHang" />
        <activity android:name=".khachhang.CapNhatKhachHang" />
        <activity android:name=".appmenu.AppMenu">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".taikhoan.DanhSachTaiKhoan" />
        <activity android:name=".taikhoan.ThemTaiKhoan" />
        <activity android:name=".taikhoan.ChiTietTaiKhoan" />
        <activity android:name=".tongtincanhan.ThongTinCaNhan"></activity>
    </application>

</manifest>